<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- owl css -->
    
    <!-- awesome fontfamily -->
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
