
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>ForgotPassword</h2>
<section style="background-color: #eee; padding-top: 200px; padding-bottom: 100px ; padding-left: 30px;    width: 850px ">

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <hr />
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div class="form-group">
                Please enter your registered email address below to receive an email containing a link, to reset your password.
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Email Address</label>
                @Html.TextBox("EmailID", "", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

</section>
