@*Dung Viewbag de the hien tong so luong san pham co trong gio hang va tong tien*@
<div class="cart box_1">
    <a href="@Url.Action("Index","Cart")">
            <div>
                <h6 style="font-size: large!important">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;
                    <span style="color:white;">@ViewBag.TongTien VND</span> (<span style="color:white;">@ViewBag.TongSoLuong</span>)
                </h6>
            </div>
    </a>
</div>
